<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mecanixs</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link rel="icon" type="image/png" href="../images/icono.png" />

    <style>
    @font-face {
    font-family: "MyriadProCondensed";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../css/MyriadProCondensed.woff") format("woff"), url("../css/MyriadProCondensed.ttf") format("truetype");
}
    @font-face {
    font-family: "MyriadProBoldCondensed";
    font-style: normal;
    font-weight: normal;
    src: local("?"),url("../css/MyriadProBoldCondensed.woff") format("woff"), url("../css/MyriadProBoldCondensed.ttf") format("truetype");
}
    div.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
        .loader {
          font-size: 10px;
          margin: 30% auto;
          text-indent: -9999em;
          width: 11em;
          height: 11em;
          border-radius: 50%;
          background: #ffffff;
          background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
          background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
          background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
          background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
          background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
          position: relative;
          -webkit-animation: load3 1.4s infinite linear;
          animation: load3 1.4s infinite linear;
        }
        .loader:before {
          width: 50%;
          height: 50%;
          background: #FFF;
          border-radius: 100% 0 0 0;
          position: absolute;
          top: 0;
          left: 0;
          content: '';
        }
        .loader:after {
          background: #0dcecb;
          width: 75%;
          height: 75%;
          border-radius: 50%;
          content: '';
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
        @-webkit-keyframes load3 {
          0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }
          100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
        @keyframes load3 {
          0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }
          100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
        
        .group {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .clear {
            clear: both;
        }

        #qr {
            margin: 5px;
        }

        #image {
            margin: 5px;
        }

        #div_qr {
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 90%;
            min-height: 90%;
            max-width: 90%;
            max-height: 90%;
            z-index: -100;
        }

        /* Large Devices, Wide Screens */
        @media only screen and (max-width : 1200px) {
          alert("1");
          

        }

        /* Medium Devices, Desktops */
        @media only screen and (max-width : 992px) {
          alert("2");
          

        }

        /* Small Devices, Tablets */
        @media only screen and (max-width : 768px) {
          alert("3");
          

        }

        /* Extra Small Devices, Phones */ 
        @media only screen and (max-width : 480px) {
          alert("4");
          

        }

        /* Custom, iPhone Retina */ 
        @media only screen and (max-width : 320px) {
          alert("5");
          

        }
    </style>
</head>

<body style="text-align: center" id='body'>
    <div class="container-fluid">
        <div  class="row">
      <div id="div_principal" style="margin:0 0; display: none;position: static;" class="col-md-9 col-sm-9 col-xs-9 col-lg-9">

        </div>
 <div id="content" class="col-md-3 col-sm-3 col-xs-3 col-lg-3" style="display: none">
            
            
        </div>
        </div>
  <div class="row" id="foo">


        <div id="contentU" class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-2 col-xs-offset-5 col-lg-2 col-lg-offset-5">

            <span class="glyphicon glyphicon-eye-open"></span> <label id="con">0</label>

        </div>




    </div>

        <div class="row">
            <div id="div_play" class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 col-lg-4 col-lg-offset-4">
                <button id="play" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-play"></span> </button>
            </div>
        </div>
        <input id='schema2' type='hidden' name='schema2'></input>




    </div>
    <div class="row">


        <div id="div_qr" align="center">
            <div id="combine"></div>
        </div>

    </div>

   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <script src="../js/jquery-qrcode-0.14.0.js"></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src='../js/LZString.js'></script>

    <script>
        schema = JSON.parse(LZString.decompressFromBase64('<%= escenas%>'));
var current_video ="";
        var $schema2 = document.getElementById('schema2');

        $schema2.value = JSON.stringify(schema, null, 2);

        var contador = 0;
        var content = $('#content');
                  var ip_chat = <%- JSON.stringify(ip_chat) %>;
        var puerto_chat = <%- JSON.stringify(puerto_chat) %>;
        var url2 = 'ws://' + 'localhost:3000';
        var urlFinal_chat = 'ws://'+ip_chat+':'+puerto_chat;
        var socket2 = io(urlFinal_chat);
        //var socket2 = io(url2);
        var hashmap = null;
        var bandUpdate = false;

     
        //$('#con').html(contador);
        /*sserver.on('message', function(message) {
            // Expect message to be '31415'.
          contador=contador+1;
    $('#con').html(contador);
       $('#identificador').html("Se esta conectado un cliente");
            socket.emit('unir_Sala', {
                sala: id,
                invitado: message
            })
        });*/
        var webSocketHost = 'ws://';
        var externalIp = '<%= externalIp%>';
        var puerto='<%= puerto%>'
        var urlf = 'ws://' + 'localhost:9999'; //PONER URL FINAL

        var url = webSocketHost + externalIp + ':'+puerto;
        var textt = JSON.parse($schema2.value);
        var  Contenido_Trasmedia = JSON.stringify(textt.Contenido_Trasmedia, null, 2);
        var  text = JSON.stringify(textt.Contenido_Live, null, 2);
           
       // alert(text);
       //alert("Contenido_Trasmedia: "+Contenido_Trasmedia);
       //alert("Imagenes: "+JSON.stringify((JSON.parse(Contenido_Trasmedia)).Imagenes));
       //alert("Imagenes: "+JSON.stringify(textt.Contenido_Trasmedia.Imagenes));
       //alert(textt.Contenido_Trasmedia.Imagenes.length);       

        

        var videos_seq = JSON.parse(text);
        var id = Math.round($.now() * Math.random() / 10000000);
        var value = id.toString();
        var filter = 'color';
        var version = 8;
        var imagePath = '../logo.png';
        var self = this;
        // abrimos la conexion

        
        var socket = io(url);
        //var socket = io(urlf); ///CAMBIAR POR URL 

        socket.on('connect', function() {

            socket.emit('crearSala', {
                sala: id,
                ctm:Contenido_Trasmedia,
                admin:true
            });

        });
           socket2.on('connect', function() {
            socket2.emit('join', id, function() {
                
                
               });
        });   
       
         socket2.on('broadcast', function(msg) {
            var im="";
             if(msg.url==null){
                im="../logo.png"
             }
                else{
                    im=msg.url
                }
                  var tam=screen.height/14;
              content.append('<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12" style="padding-bottom: 6px;padding-top: 6px;"><div class="row"><div class="avatar img-responsive col-tamlg-4 col-md-4 col-sm-4 col-xs-4"" style="background-image: url('+im+');height:'+tam+'px;width:'+tam+'px"></div><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 m msm " style="word-wrap: break-word;"><p> ' + msg.msm+' </p></div></div></div><br /><br />');
              var elem = document.getElementById('content');
              elem.scrollTop = elem.scrollHeight;
            });
        socket.on('usuarios_sincronizados', function(data) {
           $('#con').html(data.connections);
      if(data.connections==0){
         resetar();
           }
        });
        socket.on('disconnect', function(data) {
           $('#con').html(data.connections);
     

        });
         content.append('<h3 style="font-size:200%;" class="titulo">Sala de Chat <h3/><br />');
        socket.on('conectando_users', function(e) {
            
            var tem_value=0
            var tem_ip=''
            for (var [key, value] of myMapOptions) {
              //alert(value)
              if(value>tem_value){
                tem_value=value;
                tem_ip=key

              }
            }
            ganador=tem_ip
           // alert(ganador)
            tem_ip=""
            tem_value=0;
        });
        socket.on('opcion_1c', function(e) {
            if(myMapOptions.has(e)){
                myMapOptions.set(e,myMapOptions.get(e)+1)
            }
            else {
                myMapOptions.set(e,1)
            }
            var tem_value=0
            var tem_ip=''
            for (var [key, value] of myMapOptions) {
               // alert(value)
              if(value>tem_value){
                tem_value=value;
                tem_ip=key

              }
            }
            ganador=tem_ip
          //  alert(ganador)
            tem_ip=""
            tem_value=0;
        });
        /*var video = document.getElementById("video_principal");
        var inicio = searchInicio(videos_seq)
        alert("videos_seq: "+JSON.stringify(videos_seq));
        video.src = inicio.Escena;
        video.controls = true;*/
               
        //video.setAttribute("preload", "auto");
        //var video = document.getElementById("generico1");

        
        
        var map_videos = new Map();
        var escenas_all = videos_seq.Escenas[0];
        //alert("escena 0: "+videos_seq.Escenas.length);
        for(var i=0; i<videos_seq.Escenas.length; i++){
            var videoE = document.createElement('video');
            videoE.setAttribute("id", videos_seq.Escenas[i].Name_Escena);
            //alert("escena: "+videos_seq.Escenas[i].Escena);
            videoE.src = videos_seq.Escenas[i].Escena;
            videoE.setAttribute("preload", "auto");
             videoE.controls = false;
            //alert("nombre: "+videos_seq.Escenas[i].Name_Escena);
            videoE.style.display = "none";
            divPrincipal = document.getElementById("div_principal");
            divPrincipal.appendChild(videoE);
            map_videos.set(videos_seq.Escenas[i].Name_Escena, videos_seq.Escenas[i].Escena);

        }
        var inicio = searchInicio(videos_seq);
       // alert("inicio: "+inicio.Name_Escena);
        var video = document.getElementById(inicio.Name_Escena);
        video.src = inicio.Escena;

        video.controls = false;
        var escenas=searchVideoOnArray(inicio.Id_Escena,videos_seq);
        current_video = inicio.Name_Escena;
        document.getElementById(current_video).style.display = "block";
        var btnplay = document.getElementById("play");
        btnplay.addEventListener('click', play);
       

        /*for(var i=0; i<escenas.length; i++){
            var videoE = document.createElement('video');
            videoE.setAttribute("id", escenas[i].Name_Escena);
            alert("escena: "+escenas[i].Escena);
            videoE.src = escenas[i].Escena;
            videoE.setAttribute("preload", "auto");
            alert("nombre: "+escenas[i].Name_Escena);
            videoE.style.display = "none";
            divPrincipal = document.getElementById("div_principal");
            divPrincipal.appendChild(videoE);
            map_videos.set(escenas[i].Name_Escena, escenas[i].Escena);

        }*/


             
        
        seteaMetodos(inicio,videos_seq)
     

        
        var myMapOptions = new Map();
        var ganador=''
        var video_default = searchVideoDefaultOnArray(inicio.Id_Escena, videos_seq);
        



        function endedSinIteraccion() {                    
            var escenas = video_default;  
            if(escenas.length!=0){
              if(map_videos.get(escenas.Name_Escena)){
                       video =document.getElementById(escenas.Name_Escena); 
                       video.src = map_videos.get(escenas.Name_Escena);  
                     //  alert("enter2" + video.src); 
                       document.getElementById(current_video).style.display = "none";
                       document.getElementById(escenas.Name_Escena).style.display = "block";
                     //  video.controls = true;

                       //video.load() 
                       video.play();
                       socket.emit('avisoGanador', {sala : id,win:escenas.Id_Escena});

                       document.getElementById(current_video).removeEventListener("ended", endedSinIteraccion); 
                       current_video = escenas.Name_Escena;
                       inicio=escenas;
                       ganador=''
                       video_default = searchVideoDefaultOnArray(inicio.Id_Escena, videos_seq);
                       seteaMetodos(inicio,videos_seq);
                       myMapOptions = new Map();
            }
          }
             else {

             //   alert("video acabado")
                 resetar();
             }
          

        }

        function seteaMetodos(inici,videos_se) {  
                //alert("ENTER seteaMetodos: "+inici.Escena); 
              hashmap = new Map();
               for (var i = 0; i < textt.Contenido_Trasmedia.Imagenes.length; i++) {
                  if (inicio.Id_Escena.localeCompare(textt.Contenido_Trasmedia.Imagenes[i].ID_Escena) == 0) {
                 //   alert("Contenido: "+textt.Contenido_Trasmedia.Imagenes[i].Imagen);

                     hashmap.set(textt.Contenido_Trasmedia.Imagenes[i].Imagen, textt.Contenido_Trasmedia.Imagenes[i].Tiempo);

                  }
               }
               /*for (var [key, value] of hashmap) {
                //alert("key: "+key);
                alert("value: "+value);
              }*/

               if(isVideoInteraccion(inici.Escena, videos_se)){
                  //alert("SM con Interaccion: "+inici.Escena);
                  video.addEventListener("timeupdate",sendVideoOnArrayInteraccion);
                  video.addEventListener("ended",endedConIteraccion);
                }
                else {
                //  alert("SM sin Interaccion: "+inici.Escena);  
                  video.addEventListener("timeupdate",sendImagenSinInteraccion);
                  video.addEventListener("ended",endedSinIteraccion);
                }
        }

        function endedConIteraccion() {  
            if(ganador.localeCompare('')==0){

                 var escenas = video_default;
               //  alert("video default: "+escenas.Name_Escena);
                 if(escenas.length!=0){
                      //alert("enter1: "+escenas.Name_Escena);                    
                     if(map_videos.get(escenas.Name_Escena)){
                       video =document.getElementById(escenas.Name_Escena); 
                       video.src = map_videos.get(escenas.Name_Escena);  
                       //alert("enter2" + video.src); 
                       document.getElementById(current_video).style.display = "none";
                       document.getElementById(escenas.Name_Escena).style.display = "block";
                     //  video.controls = true;


                       video.play();
                        socket.emit('avisoGanador', {sala : id,win:escenas.Id_Escena});
                       document.getElementById(current_video).removeEventListener("ended", endedConIteraccion);
                       current_video = escenas.Name_Escena;
                       inicio=sendEscena(video.src,videos_seq)
                       //alert("inicio Interaccion: "+JSON.stringify(inicio));
                       ganador=''
                       video_default = searchVideoDefaultOnArray(inicio.Id_Escena, videos_seq);
                       seteaMetodos(inicio,videos_seq);
                       myMapOptions = new Map();
                     }
                }
          else {

             resetar();
          }
           
            }      
            else{
                var escenas = ganador;
                var ganadorID = null;
                //alert("ganador: "+ganador);
                for (var [key, value] of map_videos) {
                  if (map_videos.get(key) == (ganador)) {
                    ganadorID = key;
                   // alert("ganadorID: "+ganadorID);
                    break;
                  }
                }
                if(map_videos.get(ganadorID)){
                    //alert("map_videos.get(ganadorID): "+map_videos.get(ganadorID))
                    video =document.getElementById(ganadorID);
                    video.src = map_videos.get(ganadorID);
                    document.getElementById(current_video).style.display = "none";
                    document.getElementById(ganadorID).style.display = "block";
                 //   video.controls = true;
                    video.play();
                    socket.emit('avisoGanador', {sala : id,win:escenas.Id_Escena});

                    document.getElementById(current_video).removeEventListener("ended", endedConIteraccion);
                    current_video = ganadorID;
                    
                    inicio=sendEscena(video.src,videos_seq)
                    ganador=''
                    video_default = searchVideoDefaultOnArray(inicio.Id_Escena, videos_seq);
                    seteaMetodos(inicio,videos_seq);
                    myMapOptions = new Map();
                }
                
            }        
             //document.getElementById("video_principal").removeEventListener("ended", endedConIteraccion);
            
            
        }
  function sendVideoOnArrayInteraccion() {
        var iter = 0;
        var time=searchVideoTimeInteraccion(video.src,videos_seq)
        try{

          var json = buscarVideo(hashmap);
          var time_transm = json.tiempo;
          var url = json.url;
          //alert("url: "+url);
          //alert("time_transm: "+time_transm); 
        }
         catch(err) {
            time_transm= null;
        }


        var vTime = video.currentTime;
        var duraction=video.duration;
        var resul=duraction-vTime;


        var vTime2 = video.currentTime;
        var duraction2=video.duration;
        var resul2=duraction2-vTime2;

        if(resul<=0){
            document.getElementById(current_video).removeEventListener("timeupdate", sendVideoOnArrayInteraccion);
            bandUpdate = false;
          //  alert("con Interaccion 00");
        }
        else{

          if((time!=-1) && (resul <=(time)) && (bandUpdate==false)){ 
            //document.getElementById(current_video).removeEventListener("timeupdate", sendVideoOnArrayInteraccion);
            var escenas=searchVideoOnArray(inicio.Id_Escena,videos_seq);
            socket.emit('opciones', {sala : id, opciones:{escenas}, pregunta: inicio.Pregunta});
            bandUpdate = true;
          //  alert("pregunta: "+ inicio.Pregunta);
           // alert("escenas: "+JSON.stringify(escenas));
              

          }

          if(time_transm!=null && resul2<=time_transm){
            //alert("enter trasnmedia");
           // alert("time: "+time_transm);
            //alert("url: "+url);
            //var imagen_trasnm = null; 
            hashmap.delete(url);

            socket.emit("image", {sala : id, url : url});
          
            
          }

        }
        
    }

  function sendImagenSinInteraccion() {
        try{

          var json = buscarVideo(hashmap);
          //alert("json: "+JSON.stringify(json));
          var time_transm = json.tiempo;
          var url = json.url;
          //alert("url: "+url);
          //alert("time_transm: "+time_transm); 
        }
         catch(err) {
            time_transm= null;
        }


        var vTime2 = video.currentTime;
        var duraction2=video.duration;
        var resul2=duraction2-vTime2;

        if(resul2<=0){
          document.getElementById(current_video).removeEventListener("timeupdate", sendImagenSinInteraccion);
         // alert("00");
        }
        else{
            if(time_transm!=null && resul2<=time_transm){
              //alert("enter trasnmedia");
            //  alert("time: "+time_transm);
              //var imagen_trasnm = null; 
              hashmap.delete(url);
              //alert("imagen_trasnm: "+url);
              //socket.emit("image", url);
              socket.emit("image", {sala : id, url : url});
              
            }

        }

        
        
       /*try{

          var time_transm = searchImageTimeInteraccion(inicio.Id_Escena, textt); 
          //alert("time_transm: "+time_transm); 
        }
         catch(err) {
            time_transm= null;
            alert("time_transm: "+time_transm);
        }


        
        var vTime2 = video.currentTime;
        var duraction2=video.duration;
        var resul2=duraction2-vTime2;
        //alert("resul2: "+resul2);
        

        if((time_transm!=null) && (resul2<=time_transm)){
          //alert("enter trasnmedia");
          var imagen_trasnm = null; 
          document.getElementById(current_video).removeEventListener("timeupdate", sendImagenSinInteraccion);
          for (var i = 0; i < textt.Contenido_Trasmedia.Imagenes.length; i++) {
            if (inicio.Id_Escena.localeCompare(textt.Contenido_Trasmedia.Imagenes[i].ID_Escena) == 0) {
              imagen_trasnm = textt.Contenido_Trasmedia.Imagenes[i].Imagen;
              alert("imagen_trasnm: "+imagen_trasnm);
              socket.emit("imagen", imagen_trasnm);

            }
            
          }
          
        }*/
    }

    function buscarVideo(hashmap){
      var minV = null;
      var minK = null
      var resultado = null;
      //alert("hashmap: "+hashmap.length);
      for (var [key, value] of hashmap) {
          //alert("value: "+Number(value));
          //alert("maxV: "+Number(minV));
          
          if (minV == null || Number(value) > Number(minV)) {
              minV = value; 
              minK = key;
              //alert("if: "+minV);
          }
          
            
      }
      resultado= {
        url : minK,
        tiempo : minV
      };
      //hashmap.remove(min);
     // alert("resultado: "+resultado.tiempo);
      return resultado;

    } 


   function searchVideoDefaultOnArray(Key, myArray) {
        var escs = [];
        for (var i = 0; i < myArray.Escenas.length; i++) {
              for (var j = 0; j < myArray.Escenas[i].Escena_Padre.split(';').length; j++) {
                    if (Key.localeCompare(myArray.Escenas[i].Escena_Padre.split(';')[j]) == 0 && myArray.Escenas[i].Default_Escena) {
                       // alert(Key+" ->default: "+myArray.Escenas[i].Name_Escena);
                        return myArray.Escenas[i];
                }
            }
        }
        return escs;

    }
        function searchVideoOnArray(Key, myArray) {
            var escs = [];
            for (var i = 0; i < myArray.Escenas.length; i++) {
                  for (var j = 0; j < myArray.Escenas[i].Escena_Padre.split(';').length; j++) {

                        if (Key.localeCompare(myArray.Escenas[i].Escena_Padre.split(';')[j]) == 0) {
                            escs.push(myArray.Escenas[i]);
                    }
                }
            }
            return escs;


        }
        function searchVideoTimeInteraccion(Key, myArray) {
            for (var i = 0; i < myArray.Escenas.length; i++) {
                        if (Key.localeCompare(myArray.Escenas[i].Escena) == 0) {
                           return (myArray.Escenas[i].Tiempo);
                    }
                
            }
            return -1;


        }

        function searchImageTimeInteraccion(Id_Escena, textt) {
            for (var i = 0; i < textt.Contenido_Trasmedia.Imagenes.length; i++) {
                        //alert("ID_Escena trasnmedia: "+textt.Contenido_Trasmedia.Imagenes[i].ID_Escena);
                        if (Id_Escena.localeCompare(textt.Contenido_Trasmedia.Imagenes[i].ID_Escena) == 0) {
                           //alert("tiempo image: "+textt.Contenido_Trasmedia.Imagenes[i].Tiempo);
                           return (textt.Contenido_Trasmedia.Imagenes[i].Tiempo);
                    }
                
            }
            return -1;


        }
           function sendEscena(Key, myArray) {
            var escs = [];
            for (var i = 0; i < myArray.Escenas.length; i++) {
                        if (Key.localeCompare(myArray.Escenas[i].Escena) == 0) {
                           return (myArray.Escenas[i]);
                    }
                
            }
            return escs;


        }
    function isVideoInteraccion(Key, myArray) {
            for (var i = 0; i < myArray.Escenas.length; i++) {
                  
                        if (Key.localeCompare(myArray.Escenas[i].Escena) == 0 && myArray.Escenas[i].Interaccion) {
                           return true
                    
                }
            }
            return false;


        }
        function searchInicio(myArray) {
             var escs = [];
            for (var i = 0; i < myArray.Escenas.length; i++) {
                if ("".localeCompare(myArray.Escenas[i].Escena_Padre) == 0) {
                    return myArray.Escenas[i];

                }
            }
            return escs;

        }

        function play() {
           // alert("play: "+current_video);
            var video = document.getElementById(current_video);
              video.style.display = 'block'
           // alert("Start: " + video.buffered.start(0)
         // + " End: " + video.buffered.end(0));
     
            this.style.display = 'none'
            var qr = document.getElementById("div_qr");
            qr.style.display = 'none'
             var q = document.getElementById("content");
            q.style.display = 'block'
             var qq = document.getElementById("div_principal");
            qq.style.display = 'block'
            document.body.style.backgroundColor='#093147';
            video.play();
         //   alert(JSON.stringify(inicio))
            socket.emit('avisoGanador', {sala : id,win:inicio.Id_Escena});

        }

var qrcode;
function resetar(){

    inicio = searchInicio(videos_seq);
         video = document.getElementById(inicio.Name_Escena);
        video.src = inicio.Escena;
        video.controls = false;
            document.getElementById(current_video).removeEventListener("timeupdate", sendVideoOnArrayInteraccion);
            document.getElementById(current_video).removeEventListener("timeupdate", sendVideoOnArrayInteraccion);
          document.getElementById(current_video).removeEventListener("timeupdate", sendImagenSinInteraccion);
         document.getElementById(current_video).removeEventListener("ended", endedSinIteraccion);

         document.getElementById(current_video).style.display = "none";
         document.getElementById(current_video).removeEventListener("ended", endedConIteraccion);
         escenas=searchVideoOnArray(inicio.Id_Escena,videos_seq);
        current_video = inicio.Name_Escena;
        document.getElementById(current_video).style.display = "none";
        var btnplay = document.getElementById("play");
        btnplay.style.display = "inline-block";
              var q = document.getElementById("content");
            q.style.display = 'none'          
                       ganador=''
                       video_default = searchVideoDefaultOnArray(inicio.Id_Escena, videos_seq);
                       seteaMetodos(inicio,videos_seq);
                       myMapOptions = new Map();
                       var qr = document.getElementById("div_qr");
            qr.style.display = 'block'
            document.body.style.backgroundColor='#FFFFFF';
          
            $('#content').empty();
}
        function makeQArt() {
            var tam = 0;
            if (document.getElementById('div_qr').offsetHeight <= document.getElementById('div_qr').offsetWidth) {

                tam = document.getElementById('div_qr').offsetHeight
            } else {
                tam = document.getElementById('div_qr').offsetWidth
            }
            
            $('#combine').qrcode({
render:'canvas',
size:tam,
color:'#3A3',
text: value

            })
   
        }


        makeQArt();
        $(window).resize(function() {
            var list = document.getElementById("combine");
 while (list.hasChildNodes()) {   
    list.removeChild(list.firstChild);
}
        var tam = 0;
            if (document.getElementById('div_qr').offsetHeight <= document.getElementById('div_qr').offsetWidth) {

                tam = document.getElementById('div_qr').offsetHeight
            } else {
                tam = document.getElementById('div_qr').offsetWidth
            }
                        $('#combine').qrcode({
render:'canvas',
size:tam,
color:'#3A3',
text: value


            })
});
    </script>
</body>

</html>