<!DOCTYPE html> 
<html lang="es"> 
  <head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title align="center">Login ADMIN</title> 
    <link id="template-file" href="templates/template.ejs" rel="import" />


    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
     <link href="css/dashboard.css" rel="stylesheet">
	 <link href="css/login.css" rel="stylesheet">
  </head> 
  <body> 
    


	
	<div class="container">
        <div class="row">
       <div class="col-md-6 col-md-offset-3">
                <div>
          <h1 align="center" class="page-header" id="page-header" >Contenidos Subidos al Servidor</h1>

        </div>
        <img  src="images/logo_admin.png" alt="..." class="img-circle center-block">

        </div>
      </div>
      </br>
  <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <form method="post" action="/config_json2" id="loginForm" onsubmit="return submitForm(this);"">
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" type="text" id='username' name='username' placeholder="username"/>          
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class="form-control" type="password" id='password' name='password' placeholder="password"/>
            <input type="hidden" name="salt" id="salt" value="">     
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-danger btn-block btn-lg active center-block" onclick="openWindowWithPost();">Login</button>
          </div>
          <div id="error" style=" display: none" class="alert alert-danger">
            <strong>Error!</strong> El nombre de usuario o contrase&ntilde;a es incorrecto. Ingrese de nuevo.
          </div>  
          <div id="expired" style=" display: none" class="alert alert-danger">
            <strong>Error!</strong> La sesi贸n ha expirado. Por favor, ingrese de nuevo.
          </div> 
          <div id="iniciar" style=" display: none" class="alert alert-danger">
            <strong>Error!</strong> Por favor, inicie sesi贸n.
          </div> 
        </form>        
      </div>  
        
 </div> 
	    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="javascripts/sha512.js"></script>
    <script src="javascripts/md5.js"></script>
    <script src="javascripts/hmac-sha512.js"></script> 
    <script src="javascripts/hmac.js"></script> 
    <script src="javascripts/core.js"></script> 

    
    <script>
    //alert('bool: '+'<%= band %>');
    if(('<%= band %>').localeCompare('true') == 0){  
          //alert("enter");
          //alert('<%= band %>');
          //alert('<%= msm %>');
          var msm = "<%= msm %>";
          var elDiv = document.getElementById('error');
              // Default starting schema
          if (msm.localeCompare("error") == 0) {
              //alert("ERROR");
              elDiv.style.display = 'block';
              document.getElementById('username').value = '<%= username %>';
              document.getElementById('error').innerHTML = "El nombre de usuario o contrase&ntilde;a es incorrecto. Ingrese de nuevo.";
          } 
          else{
            if (msm.localeCompare("expired") == 0) {
              //alert("expired");
              elDiv.style.display = 'block';
              document.getElementById('username').value = '<%= username %>';
              document.getElementById('error').innerHTML = "La sesi贸n ha expirado. Por favor, ingrese de nuevo.";
            } 
            else{
              if (msm.localeCompare("iniciar") == 0) {
                //alert("iniciar");
                elDiv.style.display = 'block';
                document.getElementById('error').innerHTML = "Por favor, inicie sesi贸n.";
              } 
              else
                 elDiv.style.display = 'none'; 

            } 

          }
              
         
      }

      function openWindowWithPost(something, additional, misc) {
        var f = document.getElementById('loginForm');
        var usuario = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        //alert("pass normal: "+password);
        var passwordMD5 = CryptoJS.MD5(password);
        //alert("MD5: "+passwordMD5);
        var result2 = saltHashPassword(passwordMD5.toString());
        document.getElementById('salt').value = result2.salt;
        f.password.value = result2.passwordHash;
        //alert(usuario);
        //alert(f.password.value);
        //alert("Salt: "+document.getElementById('salt').value)
        

        //window.open('', 'TheWindow');
        f.submit();
        //bool = true;
        
      }
      
      function stringGen(len)
      {
          var text = " ";
      
          var charset = "abcdefghijklmnopqrstuvwxyz0123456789";
      
          for( var i=0; i < len; i++ )
              text += charset.charAt(Math.floor(Math.random() * charset.length));
      
          return text;
      }

      function sha512func(password, salt){
          var hmac = CryptoJS.algo.HMAC.create(CryptoJS.algo.SHA512, salt); /** Hashing algorithm sha512 */
          hmac.update(password);
          //alert('hash pass: '+hmac.toString(CryptoJS.enc.Hex));
          var hash = hmac.finalize();
          //alert('value hash: '+hash);
      
          return {
              salt:salt,    
              passwordHash:hash
          };
      };
      function saltHashPassword(userpassword) {
      
          salt=stringGen(16) ;
          //alert(salt);
          var saltAES = CryptoJS.AES.encrypt(salt, "My Secret Passphrase");
          //alert("saltAES: "+saltAES);
          passwordData = sha512func(userpassword, salt);
          //alert('UserPassword = '+userpassword);
          //alert('Passwordhash = '+passwordData.passwordHash);
          //alert('nSalt = '+passwordData.salt);
          return {
              salt:saltAES.toString(),   
             passwordHash:passwordData.passwordHash
          };
      }
    </script>
  </body> 
</html>